<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Sidenav Left</h1>
</md-toolbar>
<md-content layout-padding>

  <md-list ng-cloak>

    <md-list-item ng-click="cc()">
      <md-icon md-svg-icon="cached"></md-icon>
      <p>Inicio</p>
    </md-list-item>

    <md-list-item ui-sref="public.profile" ui-sref-active="active">
      <md-icon md-svg-icon="cached"></md-icon>
      <p>Perfil</p>
    </md-list-item>
    <md-divider></md-divider>

  </md-list>

    <md-button ng-click="main.closeSidenav()" class="md-primary" hide-gt-md>
        Close Sidenav Left
    </md-button>
</md-content>

